<ng-container class="mx-2 md:mx-8 ">
    <div class="w-full ">
        <app-page-header title="{{'change-password2'|translate}}" 
            [isCloseButton]="true"
            (OnClose)="dialogRef.close()"  >
        </app-page-header>
        <mat-card>
            <!-- Reset password form -->
            <form class="mt-10 mx-2 md:mx-8 w-3/12 " (ngSubmit)="OnSubmit(f)" #f="ngForm">

                <!-- Password field -->
                <!-- <mat-form-field class="w-full">
                    <mat-label>کلمه عبور فعلی </mat-label>
                    <input id="password0" matInput type="password"  [(ngModel)]="model.currentPassword" [formControl]="currentPasswordControl" required
                        #passwordCurrentField>
                    <button mat-icon-button type="button"
                        (click)="passwordCurrentField.type === 'password' ? passwordCurrentField.type = 'text' : passwordCurrentField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordCurrentField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordCurrentField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="currentPasswordControl.hasError('required')"> این فیلد ضروری می باشد </mat-error>
                </mat-form-field> -->

                <mat-form-field class="w-full">
                    <mat-label>{{'password2'|translate}}</mat-label>
                    <input id="password" matInput type="password" [(ngModel)]="model.newPassword" [formControl]="newPasswordControl" required #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="newPasswordControl.hasError('required')"> {{'this-field-is-required'|translate}}</mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="w-full">
                    <mat-label>{{'password-(confirm)'|translate}}</mat-label>
                    <input id="password-confirm" matInput type="password" [(ngModel)]="model.newPasswordConfirm" [formControl]="newPasswordConfirmControl" required
                        #passwordConfirmField>
                    <button mat-icon-button type="button"
                        (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="newPasswordConfirmControl.hasError('required')">{{'this-field-is-required'|translate}}</mat-error>
                    <mat-error *ngIf="newPasswordConfirmControl.hasError('mustMatch')">
                            {{'password-and-password-confirmation-must-be-the-same'|translate}}
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button type="submit" 
                        class="fuse-mat-button-large w-full mt-3" 
                        mat-flat-button [color]="'primary'"  >
                        <span >
                            {{'change-password2'|translate}}
                        </span>
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>      
            </form>
        </mat-card>
    </div>
</ng-container>