<ng-container >
  <div class="w-full mx-8">        
    <div style="width: 100%;"  class="max-h-fit" >
        <!-- <app-grid   
          [title]="titlelist"
          isHeader="true"
          isAdding="true"
          [datasource]="datasource"
          [columns]="columns"        
          (OnAddItem)="openDialogForm()"
          (OnDeleteItem)="onDeleteConfirm($event)"
          (OnEditItem)="OnUpdate($event)" >
        </app-grid> -->
        <app-grid-paging 
        [title]="titlelist" 
        [data]="dataList" 
        [actions]="actionList" 
        [columns]="columns"
        [dataCount]="dataListCount"
        (OnPageItem)="gotoNextPage($event)"
        (OnActionItem)="onActionResult($event)">
      </app-grid-paging>
    </div>
  </div>
</ng-container>

