<!-- Header -->
<div [color]="'primary'"
  class="relative row-auto flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 border-b-4 border-green-800 ">
  <!-- Loader -->
  <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
  </div>
  <!-- Title -->
  <div class="text-2xl font-extrabold tracking-tight">{{title}}</div>
  <!-- Actions -->
  <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
    <!-- Search -->
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64" *ngIf="isSearchBox">
      <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
      <input [autocomplete]="'off'" [placeholder]="'Search '" matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <!-- Add product button -->
    <button class="mr-4" mat-flat-button [color]="'primary'" (click)="OnAdd()" *ngIf="isAddButton">
      <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
      <span class="ml-2 mr-1"> {{ 'add2' | translate }} </span>
    </button>

    <button type="button" class="ml-4" mat-flat-button [color]="'primary'" *ngIf="isSaveButtonAccess" (click)="onSaveAccess()" >
      <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
      <span class="ml-2 mr-1"> {{ 'full-access' | translate }} </span>
    </button>

    <button type="button" style="background-color:#dc3545; color:white ;" class="ml-4" mat-flat-button *ngIf="isRemoveAction" (click)="onRemoveAction()" >
      <mat-icon style="color:white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
      <span class="ml-2 mr-1"> {{ 'delete' | translate }} </span>
    </button>

    <button type="submit" #toggleSave [disabled]="isSaveButtonDisabled" class="ml-4" mat-flat-button [color]="'primary'" *ngIf="isSaveButton">
      <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
      <span class="ml-2 mr-1"> {{ 'save' | translate }} </span>
    </button>

    <button type="button" #toggleSave2 class="ml-4" mat-flat-button color="primary" *ngIf="isSaveButton2" (click)="OnSave()">
      <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
      <span class="ml-2 mr-1"> {{ 'save' | translate }} </span>
    </button>

    <button type="button" #toggleSave3 class="ml-4" mat-flat-button 
      [color]="'primary'" *ngIf="txtCustomButton2 !=''" (click)="OnCustomSave2()">
      <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
      <span class="ml-2 mr-1"> {{txtCustomButton2}}  </span>
    </button>

    <button type="button" #toggleSave3 class="ml-4" mat-flat-button 
      [color]="'primary'" *ngIf="txtCustomButton !=''" (click)="OnCustomSave()">
      <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
      <span class="ml-2 mr-1"> {{txtCustomButton}}  </span>
    </button>

    <a *ngIf="returnGoto != ''" (click)="goto()">
      <button class="ml-4" mat-flat-button type="button">
        <span class="ml-2 mr-1"> {{returnGotoTitle}} </span>
      </button>
    </a>
    
    <a *ngIf="returnUrl != ''" (click)="gotoUrl()">
      <button class="ml-4" mat-flat-button type="button">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
        <span class="ml-2 mr-1"> {{ 'return' | translate }} </span>
      </button>
    </a>
    <a *ngIf="isCloseButton" >
      <button class="ml-4" mat-flat-button type="button" (click)="closeModal()">
        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        <span class="ml-2 mr-1"> {{ 'close' | translate }} </span>
      </button>
    </a>
  </div>
</div>

<div  class="relative row-auto h-5  flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-1 md:px-2">
  <!-- <div class="text-1xl font-extrabold tracking-tight">{{subTitle}}</div> -->

</div>
