<div class="w-full mx-1">
  <app-page-header 
    title="گزارش حضور و غیاب"
    [isSaveButton]="false"
    [isCloseButton]="true"
    txtCustomButton2="پرینت"
    (OnSaveCustom2)="Print()"
    (OnClose)="closeModal()">
  </app-page-header>
</div>
<ng-container>
  <div class="w-full mx-1">

    <div id="print-section" style="margin-top: 10px;">
      <table #myTable>
        <thead>
          <tr>
            <th>ردیف</th>
            <th>نام و نام خانوادگی</th>
            <th>کد</th>
            <th *ngFor="let d of days">
              <span style="display: inline-block; transform: rotate(-90deg); white-space: nowrap;">
                {{ d }}
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datasource; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.fullName }}</td>
            <td>{{ item.code }}</td>
            <td *ngFor="let d of item.day">
              <span 
                [ngClass]="
                  d.status === 1 ? 'present' : 
                  d.status === 2 ? 'late' : 'absent'
                ">
                {{ d.status === 1 ? '✔' : (d.status === 2 ? '⏰✔' : '✖') }}
              </span>
            </td>
          </tr>
          <tr *ngIf="datasource.length === 0">
            <td colspan="100%">داده‌ای یافت نشد</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
