<ng-container >
  <div class="w-full">        
    <div style="width: 100%;"  class="max-h-fit" >
        <app-grid   
          [title]="listTitle"
          [isHeader]="true"
          [isAdding]="false"
          [isBackButton]="false"
          [datasource]="datasource"
          [actions]="actions"
          [columns]="columns"        
          (OnAddItem)="openDialogForm()"
          (OnDetailItem)="onDetail($event)"
          (OnDeleteItem)="onDeleteConfirm($event)"
          (OnEditItem)="OnUpdate($event)" >
        </app-grid>
    </div>
  </div>
</ng-container>

