<ng-container>
  <form (ngSubmit)="OnSubmit(f)" #f="ngForm">
    <app-page-header class="w-full" [title]='model.id>0 ? editstring : addstring' isSaveButton="true"
      isCloseButton="true" (OnSaveAccess)="OnSaveAccess()" (OnClose)="dialogRef.close()">
    </app-page-header>

    <div class="grid grid-cols-6 md:grid-cols-12 lg:grid-cols-12 w-full w-3/4">
      <div class="col-span-6 lg:col-span-12 md:col-span-12">
        <app-select-search [dataSource]="accessKeys" [(selectedId)]="model.accessKeyId"
          titleField="{{ 'access.access-form.access-title' | translate }}" [fieldId]="'id'" [fieldTitle]="'title'">
        </app-select-search>
      </div>

      <div class="col-span-6 p-2 self-center">
        <mat-radio-group aria-label="{{'based-on'|translate}}" [disabled]="model.id > 0" name="onRoleAccess"
          (change)="onTypeAccessChange($event)">
          <mat-radio-button value="0" [checked]="onRoleAccess===0">{{'role2'|translate}}</mat-radio-button>
          <mat-radio-button value="1" [checked]="onRoleAccess===1">{{'user2'|translate}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-span-6" *ngIf="onRoleAccess===0">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{'access-selection'|translate}}</mat-label>
          <mat-select name="userRoleId" [(ngModel)]="model.userRoleId" [disabled]="model.id > 0">
            <ng-container *ngFor="let type of roles">
              <mat-option [value]="type.id">
                {{type.title}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-span-6" *ngIf="onRoleAccess===1 ">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{'users'|translate}}</mat-label>
          <mat-select name="userId" [(ngModel)]="model.userId" [disabled]="model.id > 0">
            <ng-container *ngFor="let type of users">
              <mat-option [value]="type.id">
                {{type.fullName}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="p-2 col-span-3 self-center">
        <mat-checkbox name="IsShow" [(ngModel)]="model.isShow" color="primary">{{'show'|translate}}</mat-checkbox>
      </div>

      <div class="p-2 col-span-3 self-center">
        <mat-checkbox name="IsAdd" [(ngModel)]="model.isAdd" color="primary">{{'add'|translate}}
        </mat-checkbox>
      </div>

      <div class="p-2 col-span-3 self-center">
        <mat-checkbox name="IsEdit" [(ngModel)]="model.isEdit" color="primary">{{'edit'|translate}}</mat-checkbox>
      </div>

      <div class="p-2 col-span-3 self-center">
        <mat-checkbox name="IsDelete" [(ngModel)]="model.isDelete" color="primary">{{'delete2'|translate}}</mat-checkbox>
      </div>
    </div>
  </form>
</ng-container>