<ng-container>
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <form>

              <!-- 🔸 دکمه تغییر حالت فقط در موبایل -->
              <div class="toggle-view-btn mb-3 text-center d-md-none">
                <button type="button" class="btn btn-primary btn-sm px-3" (click)="toggleCardView()">
                  {{ isCardView ? ('show-table' | translate) : ('show-cards' | translate) }}
                </button>
              </div>

              <!-- 🔹 بخش جستجو -->
              <div class="grid grid-cols-12">
                <div class="d-flex justify-content-between p-2 flex-wrap md:col-span-3 col-span-12" *ngIf="!isView">
                  <div class="form-group d-flex flex-column mb-1">
                    <input placeholder="Search" class="form-control ml-2" type="text" name="searchTerm" autocomplete="off"
                           [(ngModel)]="service.searchTerm" (keyup)="loadPageBySearch()" />
                    <span class="ml-3" *ngIf="service.loading$ | async" style="position: absolute; left: 50%;">
                      {{ 'loading' | translate }}
                    </span>
                  </div>
                </div>
                <ng-content></ng-content>
              </div>

              <!-- 🔸 حالت جدول -->
              <table *ngIf="!isCardView" class="table table-vcenter text-nowrap table-bordered border-bottom">
                <thead>
                  <tr>
                    <th *ngIf="actionList.length > 0" style="width: 100px;">{{ 'operation' | translate }}</th>
                    <th>#</th>
                    <ng-container *ngFor="let col of columns">
                      <th *ngIf="col.visible !== false" [sortable]="col.dataField" (sort)="onSort($event)">
                        {{ col.title }}
                      </th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of dataSource$ | async; let i = index">
                    <td *ngIf="actionList.length > 0">
                      <div>
                        <a *ngFor="let act of actionList; let j = index" (click)="OnActionEmitter(row, j)"
                           class="btn btn-icon btn-sm me-2 {{ act.level }}" ngbTooltip="{{ act.title }}">
                          <i class="{{ act.icon }}"></i>
                        </a>
                      </div>
                    </td>
                    <td>{{ i + 1 }}</td>
                    <ng-container *ngFor="let col of columns">
                      <td *ngIf="col.visible !== false">
                        <span *ngIf="!col.dataField.startsWith('pic')">{{ row[col.dataField] }}</span>
                        <img *ngIf="col.dataField.startsWith('pic')" [src]="row[col.dataField]" class="profile-img-small" />
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>

              <!-- 🔸 حالت کارت موبایل -->
              <div *ngIf="isCardView" class="mobile-card-list">
                <div class="mobile-card" *ngFor="let row of dataSource$ | async">
                  <div class="mobile-card-body">
                    <div *ngIf="actionList.length > 0" class="mb-2 text-end">
                      <a *ngFor="let act of actionList; let j = index" (click)="OnActionEmitter(row, j)"
                         class="btn btn-icon btn-sm me-1 {{ act.level }}" ngbTooltip="{{ act.title }}">
                        <i class="{{ act.icon }}"></i>
                      </a>
                    </div>
                    <div class="mobile-fields-grid">
                      <ng-container *ngFor="let col of columns">
                        <div *ngIf="col.visible !== false" class="mobile-field-box">
                          <div class="field-title">{{ col.title }}</div>
                          <div class="field-value">
                            <span *ngIf="!col.dataField.startsWith('pic')">{{ row[col.dataField] }}</span>
                            <img *ngIf="col.dataField.startsWith('pic')" [src]="row[col.dataField]" class="profile-img-small" />
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pagination -->
              <div class="float-end">
                <div style="display: flex;">
                  <ngb-pagination 
                  [collectionSize]="total$ | async" 
                  [(page)]="service.page"
                  [pageSize]="service.pageSize" 
                  (pageChange)="loadPage()"
                  [maxSize]="5" 
                  [boundaryLinks]="true">
                </ngb-pagination>
                
                <label>{{ 'select-page-size' | translate }}</label>
                <select class="form-control mb-1 custom-select" style="width: auto; font-weight: bold;"
                        [(ngModel)]="service.pageSize" 
                        (change)="loadPage()">
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="25">25</option>
                  <option [value]="50">50</option>
                  <option [value]="100">100</option>
                </select>
                
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
