<ng-container>
  <form (ngSubmit)="OnSubmit(f)" #f="ngForm" class="w-full">
    <div class=" mx-1 md:mx-8" >
      <app-page-header title="ویرایش/افزودن کلاس"
                       [isSaveButton]="true"
                       [isCloseButton]="true"  (OnClose)="dialogRef.close()">
       </app-page-header>
      <div class=" bg-white">
        <div class="grid grid-cols-12">
          <div class="col-span-6 md:col-span-3">
            <mat-form-field appearance="outline" class="md:w-11/12 w-11/12">
                <mat-label  > کد </mat-label>
               <input type="text" matInput name="code" [(ngModel)]="model.code"> 
            </mat-form-field>
          </div>
          <div class="col-span-6 md:col-span-3">
            <mat-form-field appearance="outline" class="md:w-11/12 w-11/12">
                <mat-label  > عنوان </mat-label>
               <input type="text" matInput name="title" [(ngModel)]="model.title"  [formControl]="titleFormControl" required>
              <mat-error *ngIf="titleFormControl.hasError('required')"> این فیلد ضروری می باشد</mat-error> 
            </mat-form-field>
          </div>
          <div class="col-span-6 md:col-span-3">
            <app-select-search [dataSource]="periodList" [(selectedId)]="model.periodId" titleField="انتخاب زمان" class="md:w-11/12 w-full"
                [fieldId]="'id'" [fieldTitle]="'title'">
            </app-select-search>
          </div>
          <div class="col-span-6 md:col-span-3">
            <app-select-search [dataSource]="userList" [(selectedId)]="model.userId" titleField="مبصرکلاس" class="md:w-11/12 w-full"
                [fieldId]="'id'" [fieldTitle]="'fullName'">
            </app-select-search>
          </div>
          <div class="col-span-12 md:col-span-6">
            <mat-form-field appearance="outline" class="md:w-11/12 w-11/12">
                <mat-label  > توضیحات </mat-label>
               <input type="text" matInput name="description" [(ngModel)]="model.description"> 
            </mat-form-field>
          </div>
          <div class="col-span-6 md:col-span-6">
            <mat-checkbox name="IsActive" [(ngModel)]="model.isActive" color="primary" >{{'active/inactive' | translate }}</mat-checkbox>
         </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>
