<ng-container>
  <form (ngSubmit)="OnSubmit(f)" #f="ngForm" class="w-full">
    <div class=" mx-1 md:mx-8" >
      <app-page-header title="ویرایش/ افزودن، دوره زمانی "
                       [isSaveButton]="true"
                       [isCloseButton]="true"  (OnClose)="dialogRef.close()">
       </app-page-header>
      <div class=" bg-white">
        <div class="grid grid-cols-4 md:grid-cols-12">
          <div class="col-span-4">
            <mat-form-field appearance="outline" class="md:w-11/12 w-full">
              <mat-label  > عنوان </mat-label>
              <input type="text" matInput name="title" [(ngModel)]="model.title"  [formControl]="titleFormControl" required>
              <mat-error *ngIf="titleFormControl.hasError('required')"> این فیلد ضروری می باشد</mat-error> 
            </mat-form-field>
          </div>
          <div class="col-span-4">
            <mat-form-field appearance="outline" class="md:w-11/12 w-full">
                <mat-label  > توضیحات </mat-label>
               <input type="text" matInput name="description" [(ngModel)]="model.description"> 
            </mat-form-field>
          </div>

          <div class="col-span-4">
             <mat-checkbox name="IsActive" [(ngModel)]="model.isActive" color="primary" >{{'active/inactive' | translate }}</mat-checkbox>
          </div>

          <div class="col-span-4">
            <mat-checkbox name="IsSatarday" [(ngModel)]="model.isSatarday" color="primary" > شنبه </mat-checkbox>
             <mat-checkbox name="IsSunday" [(ngModel)]="model.isSunday" color="primary" > یکشنبه </mat-checkbox>
             <mat-checkbox name="IsMonday" [(ngModel)]="model.isMonday" color="primary" > دوشنبه </mat-checkbox>
             <mat-checkbox name="IsTueday" [(ngModel)]="model.isTueday" color="primary" > سه شنبه </mat-checkbox>
             <mat-checkbox name="IsWedsday" [(ngModel)]="model.isWedsday" color="primary" > چهارشنبه </mat-checkbox>
             <mat-checkbox name="IsThursday" [(ngModel)]="model.isThursday" color="primary" > پنجشنبه </mat-checkbox>
             <mat-checkbox name="IsFirday" [(ngModel)]="model.isFirday" color="primary" > جمعه </mat-checkbox>
          </div>       
        </div>
      </div>
    </div>
  </form>
</ng-container>
