<ng-container >
  <div class="w-full mx-8">        
    <div style="width: 100%;"  class="max-h-fit" >
      
      <img style="width: 100%; position: relative; left: 35px;" src="../../../assets/images/Akramzada/newlogo/chart-organ2.jpg" >
      
      <!-- <app-page-header [title]='listTitle' 
            [isSaveButton]="false"
            [txtCustomButton]="btnTitle"
            (OnSaveCustom)="openDialogForm()"
            returnUrl="/exchange/chart-organ" ></app-page-header>
        <app-grid   
          [datasource]="datasource"
          [columns]="columns"        
          [actions]="actions"
          (OnDetailItem)="onDetail($event)"
          (OnDeleteItem)="onDeleteConfirm($event)"
          (OnEditItem)="OnUpdate($event)" >
        </app-grid> -->
    </div>
  </div>
</ng-container>

