<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8">
    <div class="flex md:w-full md:max-w-6xl sm:rounded-2xl sm:shadow overflow-hidden sm:bg-card">
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <!-- Logo -->
                <div class="w-full text-center">
                    <img class="px-10 px-2" src="../../../../assets/images/Akramzada/newlogo/logo.png">
                </div>
                <!-- Title -->
                <div class="mt-8 text-3xl font-extrabold tracking-tight leading-tight text-center">{{ 'admin-panel' | translate }} </div>               
                <!-- Alert -->
                <!--<fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>-->

                <!-- Sign in form -->
                <form
                    class="mt-8"
                    [formGroup]="signInForm"
                    #signInNgForm="ngForm">

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label> {{ 'username4' | translate }}</mat-label>
                        <input
                            id="username"
                            matInput
                            [formControlName]="'username'">
                        <mat-error *ngIf="signInForm.get('username')?.hasError('required')">
                            {{ 'username-is-required' | translate }}                            
                        </mat-error>                        
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <mat-label>{{ 'password' | translate }}</mat-label>
                        <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            {{ 'password-is-required' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Actions -->
                    <div class="inline-flex items-end justify-between w-full mt-1.5">
                        <mat-checkbox
                            [color]="'primary'"
                            [formControlName]="'rememberMe'">
                            {{ 'remember-me' | translate }}
                        </mat-checkbox>                        
                    </div>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signInForm.disabled"
                        (click)="signIn()">
                        <span *ngIf="!signInForm.disabled">
                            {{ 'login-to' | translate }}    
                        </span>
                        <mat-progress-spinner
                            *ngIf="signInForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                </form>
            </div>
        </div>
        <div class="relative hidden md:flex flex-auto items-center justify-center h-full p-16 pt-0 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
            <!-- Background - @formatter:off -->
            <!-- Rings -->
            <svg class="absolute inset-0 pointer-events-none"
                 viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- Dots -->
            <svg class="absolute -top-16 -right-16 text-gray-700"
                 viewBox="0 0 220 192" width="220" height="192" fill="none">
                <defs>
                    <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
            </svg>
            <!-- @formatter:on -->
            <!-- Content -->
            <div class="z-10 relative w-full max-w-2xl">
                <div class="text-7xl font-bold text-gray-100 text-center">
                    <div class="text-7xl "  > {{ 'akramzadeh' | translate }}</div>
                    <div class="text-3xl mt-6 font-bold" > {{ 'akramzadeh-exchange-and-money-services-company' | translate }} </div>
                </div>
                <div class="mt-6 text-2xl tracking-tight leading-6 text-gray-400 grid grid-cols-5">
                    <div class="col-span-5">
                        {{ 'subtitle' | translate }}
                        <br/>
                        <br/>
                        <br/>                        
                        {{ 'subtitle' | translate }}
                    </div>
                </div>                
                <div class="mt-20 text-4xl tracking-tight leading-6 text-gray-400 text-center" >
                    <a href="#" > </a>
                </div>                
            </div>
        </div>
    </div>
</div>


