<!-- Notifications toggle -->
<button
    mat-icon-button    
    id="nofiyTransactionHighRisk"
    matTooltip="{{'high-risk-transactions'|translate}}"
    (click)="openPanel()"
    #notificationsOrigin>
    <ng-container *ngIf="unreadCount > 0">
        <span class="absolute top-0 right-0 left-0 flex items-center justify-center h-3">
            <span class="flex items-center justify-center flex-shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-teal-600 text-indigo-50 text-xs font-medium">
                {{unreadCount}}
            </span>
        </span>
    </ng-container>
    <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
</button>

<!-- Notifications panel -->
<ng-template #notificationsPanel>

    <div class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-90 sm:rounded-2xl overflow-hidden shadow-lg">
        <!-- Header -->
        <div class="flex flex-shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="sm:hidden -ml-1 mr-3">
                <button
                    mat-icon-button
                    (click)="closePanel()">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">{{'high-risk-transactions'|translate}}</div>
            <div class="ml-auto">
                <button
                    mat-icon-button
                    [matTooltip]="'Mark all as read'"
                    [disabled]="unreadCount === 0"
                    (click)="markAllAsRead()">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:mail-open'"></mat-icon>
                </button>
            </div>
        </div>
        <!-- Content -->
        <div class="relative flex flex-col flex-auto sm:max-h-120 divide-y overflow-y-auto bg-card">
            <!-- Notifications -->
            <ng-container *ngFor="let trn of dataValue; trackBy: trackByFn">
                <!-- Title, description & time -->
                <div class="flex flex-col flex-auto"  >
                    <ng-container >
                        <div class="grid grid-cols-1">
                            <a class="cursor grid grid-cols-6 p-4" routerLink="exchange/transfer-cash/view/{{trn.id}}"  
                                [ngClass]="{'acc-pending': !trn.isSeen,
                                            'acc-confirm': trn.isSeen}" >
                                <p class="font-semibold line-clamp-1 p-2 col-span-6 " >{{'sum'|translate}}: {{trn.amount}}-{{trn.fullName}} </p>
                                <p class="font-semibold line-clamp-1 p-2 col-span-6" > ({{trn.branchTitle}})-{{trn.createDateFa }} </p>
                                <p class="font-semibold line-clamp-1 p-2 col-span-6" >{{'customer-defects'|translate}}:({{trn.typeCheck}}) </p>
                                <p class="font-semibold line-clamp-1 p-2 col-span-6" >{{'deal-flaws'|translate}}:({{trn.typeCheck2}}) </p>
                            </a>
                        </div>
                    </ng-container>                    
                </div>
            </ng-container>

            <!-- No notifications -->
            <!-- <ng-container *ngIf="!dataValue || !dataValue.length">
                <div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12 px-8">
                    <div class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100">
                        <mat-icon
                            class="text-primary-500-700"
                            [svgIcon]="'heroicons_outline:bell'"></mat-icon>
                    </div>
                    <div class="mt-5 text-2xl font-semibold tracking-tight">معاملات پرخطر</div>
                    <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">در صورت وجود معامله پرخطر نمایش داده خواهد شد</div>
                </div>
            </ng-container> -->
        </div>
    </div>
</ng-template>
