<!-- Notifications toggle -->
<button
    mat-icon-button    
    id="nofiyShift"
    matTooltip="{{'current-shift'|translate}}"
    (click)="openPanel()"
    #notificationsOrigin>
    <mat-icon [svgIcon]="'heroicons_outline:clock'" [color]="hasShift ? 'primary' : ''" ></mat-icon>
</button>

<!-- Notifications panel -->
<ng-template #notificationsPanel>

    <div class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-90 sm:rounded-2xl overflow-hidden shadow-lg">

        <!-- Header -->
        <div class="flex flex-shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="sm:hidden -ml-1 mr-3">
                <button
                    mat-icon-button
                    (click)="closePanel()">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">{{'current-shift'|translate}}</div>
            <div class="ml-auto">
                <button
                    mat-icon-button
                    [disabled]="unreadCount === 0"
                    (click)="markAllAsRead()">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:mail-open'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Content -->
        <div class="relative flex flex-col flex-auto sm:max-h-120 divide-y overflow-y-auto bg-card">
            <!-- Notifications -->
            <ng-container  *ngIf="hasShift">
                <!-- Title, description & time -->
                <div class="flex flex-col flex-auto"  >
                    <ng-container >
                        <div class="grid grid-cols-6 p-4 ">
                            <p class="font-semibold line-clamp-1 p-2 col-span-6 " >{{'start-of-shift'|translate}}: {{dataValue.openShift}} </p>
                            <p class="font-semibold line-clamp-1 p-2 col-span-6 " >{{'end-of-shift2'|translate}}: {{dataValue.closeShift}} </p>
                            <hr class="col-span-6" [color]="'primary'" />
                            <p class="font-semibold line-clamp-1 p-2 col-span-6 "  >{{dataValue.description}} 
                                    <mat-icon
                                        class="text-primary-500-700 left"      
                                        (click)="addShift()"                                  
                                        [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                            </p>
                        </div>
                    </ng-container>                                        
                </div>
            </ng-container>

            <!-- No notifications -->
            <ng-container *ngIf="!hasShift">
                <div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12 px-8" (click)="addShift()" >
                    <div class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100">
                        <mat-icon
                            class="text-primary-500-700"
                            
                            [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                    </div>
                    <div class="mt-5 text-2xl font-semibold tracking-tight">{{'no-shift-has-started'|translate}}</div>
                    <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">{{'click-on-the-clock-icon-to-start-the-shift'|translate}}</div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>
